body {
  font-family: Verdana, Helvetica, arial, sans-serif;
  font-size: 0.75em;
  background-color: #fff;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

#id_weight {
  width: 6em;
}

div.content {
  text-align: center;
  margin: elastic;
}

.graph_link_text {
  color: #aaa;
  width: 100%;
  text-align: center;
  font-size: 8pt;
}

.selected_link {
  font-weight: bold;
}

form {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.graph_link {
  font-size: 1em;
  font-variant: normal;
}

.small_text {
  font-size: 7pt;
}

.medium_text {
  font-size: 9pt;
}

.label_text {
  font-size: 0.8em;
}

.centered {
  text-align: center;
}

.update_message {
  color: #ccc;
}

.error {
  color: #f55;
  font-weight: bold;
}

.info {
  color: #000;
  background-color: #088;
  font-weight: bold;
}

.form_table {
  text-align: left;
}

.simple_border {
  background-color: #cdc;
  padding: 5px;
  border: solid 1px black;
}

.chart_image {
  margin-top: .25em;
}

div.main_div {
  display: inline-block;
}

.main_table {
  width: 100%;
  height: 100%;
}
