body {
  font-family: Verdana, Helvetica, arial, sans-serif;
  font-size: 0.75em;
  background-color: #fff;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
}

label {
  font-size: 0.75em;
}

.graph_link_text {
  color: #aaa;
  width: 100%;
  text-align: center;
}

.selected_link {
  font-weight: bold;
}

form {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.graph_link {
  font-size: 1em;
  font-variant: normal;
}

.tiny {
  font-size: .75em;
}

.centered {
  text-align: center;
}

.update_message {
  color: #ccc;
}

.form_error {
  color: #f55;
}

.form_table {
  text-align: left;
}

.simple_border {
  background-color: #cdc;
  padding: 5px;
  border: solid 1px black;
}

.chart_image {
  margin-top: .25em;
}
