<html>
  <head>
    <title>{% block title %}Weight Meter{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <p class="tiny">
      {{ user.email }} |
      <a href="{% url ShowGraph %}">Home</a> |
      <a href="{% url DataImport %}">Data</a> |
      <a href="{% url Settings %}">Settings</a> |
      <a href="{% url Logout %}">Logout</a>
    </p>
    {% block content %}{% endblock %}
    <div class="tiny"><a href="http://weightmeter.googlecode.com/">Source Project</a></div>
  </body>
</html>
