<html>
  <head>
    <title>{% block title %}Weight Meter{% endblock %}</title>
    <link rel="stylesheet" href="/css/main.css">
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div class="medium_text">
      {{ user.email }} |
      <a href="/graph">Home</a> |
      <a href="/data">Data</a> |
      <a href="/settings">Settings</a> ||
      <a href="/logout">Logout</a>
    </div>
    <p/>
    {% block content %}{% endblock %}
    <p/>
    {% block bottom_credits %}
    <div class="medium_text centered">
      An
      <a href="http://weightmeter.googlecode.com/">open source</a>
      <a href="http://appengine.google.com/">Google AppEngine</a>
      project by Chris Monson
    </div>
    <div class="small_text centered">
      View: <b>Normal</b> | <a href="/m">Mobile</a>
    </div>
    {% endblock bottom_credits %}
  </body>
</html>
