<html>
  <head>
    <title>{% block title %}Weight Meter{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="medium_text">
      {{ user.email }} |
      <a href="{% url Graph %}">Home</a> |
      <a href="{% url Data %}">Data</a> |
      <a href="{% url Settings %}">Settings</a> ||
      <a href="{% url Logout %}">Logout</a>
    </div>
    <p/>
    {% block content %}{% endblock %}
    <p/>
    {% block bottom_credits %}
    <div class="medium_text centered">
      An
      <a href="http://weightmeter.googlecode.com/">open source</a>
      <a href="http://appengine.google.com/">Google AppEngine</a>
      project by Chris Monson
    </div>
    <div class="small_text centered">
      View: <b>Normal</b> | <a href="{% url MobileDefaultRoot %}">Mobile</a>
    </div>
    {% endblock bottom_credits %}
  </body>
</html>
