{% extends "base_template.html" %}

{% block title %}Weight Meter Data{% endblock title %}

{% block content %}
    <div class="medium_text">
    <p class="simple_border">
      Export weight entries to <a href="{% url CsvDownload %}">CSV</a>
    </p>
    <form action="/data" method="POST" enctype="multipart/form-data" class="simple_border">
      Import a CSV file of weight entries, e.g.,
      <pre>
      2008-04-01,192.5
      2008-04-02,193.0
      ...</pre>
      <p class="small_text">
      Dates can be YYYY-MM-DD or MM/DD/YYYY<br>
      Values can be separated by commas, spaces, or tabs<br>
      </p>
      <input type="file" name="entries_csv_file">
      <input type="submit" value="Submit">
    </form>
    </div>
{% endblock content %}
