{% extends "base_template.html" %}

{% block content %}
<form method="POST" action="/graph">
{% include "xsrf_input.html" %}
<div class="simple_border medium_text">
  {% include "update_form.html" %}
</div>
</form>
<div class="simple_border chart_image">
  <div style="width: {{ img.width }}px;">
    <div class="graph_link_text">
    {% for duration in durations %}
    <a class="graph_link" href="/graph?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
    {% endfor %}
    </div>
    <img width="{{ img.width }}" height="{{ img.height }}" src="{{ img.url }}">
    <br>
    <div class="graph_link_text">
    {% for duration in durations %}
    <a class="graph_link" href="/graph?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
