{% extends "base_template.html" %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>
<script type="text/javascript">
  google.load("visualization", "1", {"packages":["corechart"]});
  google.setOnLoadCallback(function() {
      angular.bootstrap(document.body, ['app']);
  });
</script>
{% endblock scripts %}

{% block content %}
<div ng-controller="ChartController" class="main_div">
  <form method="POST" action="/graph">
    {% include "xsrf_input.html" %}
    <div class="simple_border medium_text">
      {% include "update_form.html" %}
    </div>
  </form>
  <div class="simple_border chart_image">
    <div style="width: {{ img.width }}px;">
      <div class="graph_link_text">
        {% for duration in durations %}
        <a class="graph_link" href="/graph?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
        {% endfor %}
      </div>
      <div id="chart_div" style="width: {{ img.width }}px; height: {{ img.height }}px;"></div>
      <!-- <img width="{{ img.width }}" height="{{ img.height }}" src="{{ img.url }}"> -->
      <br>
      <div class="graph_link_text">
        {% for duration in durations %}
        <a class="graph_link" href="/graph?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
