{% extends "base_template.html" %}

{% block content %}
<div style="width: auto">
  <form method="POST" action="{{ update_url }}">
  <div class="simple_border">
    <fieldset>{% for field in form %}{{ field.label_tag }}: {{ field }} {% endfor %}<input type=submit value="Update"></fieldset>
  </div>
  </form>
  <div class="simple_border chart_image">
  <div style="width: {{ img.width }}px;">
  <img width="{{ img.width }}" height="{{ img.height }}" src="{{ img.url }}"><br>
  <div class="graph_link_text tiny">
  {% for duration in durations %}
  <a class="graph_link" href="{% url ShowGraph duration %}">{{ duration }}</a>
  {% if not forloop.last %} |{% endif %}
  {% endfor %}
  </div>
  </div>
  </div>
</div>
{% endblock %}
