{% extends "base_template.html" %}

{% block content %}
  <form method="POST" action="{% url ShowGraph %}">
  <div class="simple_border medium_text">
    {% if form.errors %}<div class="error">Correct marked entries below and try again.</div><br>{% endif %}
    <fieldset>{% for field in form %}<span class="form_label{% if field.errors %} error{% endif %}">{{ field.label_tag }}{% if field.errors %}<span class="error">*</span>{% endif %}: {{ field }} {% endfor %}<input type=submit value="Update"></fieldset>
  </div>
  </form>
  <div class="simple_border chart_image">
    {% include "weight_chart.html" %}
  </div>
{% endblock content %}
