<html>
  <head>
    <title>{% block title %}Weight Meter{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body>
  <div class="main_div">
    <p class="small_text">
      {{ user.email }} |
      <a href="/m/graph">Home</a> |
      <a href="/m/data">Data</a> |
      <a href="/m/settings">Settings</a> ||
      <a href="/m/logout">Logout</a>
    </p>
    {% block content %}{% endblock %}
    <p/>
    {% block bottom_credits %}
    <div class="small_text centered">
      An
      <a href="http://weightmeter.googlecode.com/">open source</a>
      <a href="http://appengine.google.com/">Google AppEngine</a>
      project by Chris Monson
    </div>
    <div class="small_text centered">
      View: <a href="/">Normal</a> | <b>Mobile</b>
    </div>
    {% endblock bottom_credits %}
  </div>
  </body>
</html>
