{% extends "mobile_base_template.html" %}

{% block title %}Weight Meter Data{% endblock title %}

{% block content %}
<div class="graph_link_text">
{% for duration in durations %}
<a class="graph_link" href="{% url MobileData %}?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
{% endfor %}
</div>
<br>
<table class="medium_text" border="1" cellspacing="1" cellpadding="1" width="100%">
<th>
  <td>Weight</td>
  <td>Smoothed</td>
</th>
{% for entry in entries %}
<tr>
  <td>{{ entry.0 }}</td>
  <td>{{ entry.1 }}</td>
  <td>{{ entry.2 }}</td>
</tr>
{% endfor %}
</table>
<br>
<div class="graph_link_text">
{% for duration in durations %}
<a class="graph_link" href="{% url MobileData %}?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
{% endfor %}
</div>
{% endblock content %}
