<html>
  <head>
    <title>{% block title %}Weight Meter{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
  <table><tr><td>
    <p class="small_text">
      {{ user.email }} |
      <a href="{% url MobileMainPage %}">Home</a> |
      <a href="{% url MobileSettings %}">Settings</a> ||
      <a href="{% url Logout %}">Logout</a>
    </p>
    {% block content %}{% endblock %}
    <p/>
    {% block bottom_credits %}
    <div class="small_text centered">
      An
      <a href="http://weightmeter.googlecode.com/">open source</a>
      <a href="http://appengine.google.com/">Google AppEngine</a>
      project by Chris Monson
    </div>
    {% endblock bottom_credits %}
  </td></tr></table>
  </body>
</html>
