{% extends "mobile_base_template.html" %}

{% block title %}Weight Meter Data{% endblock title %}

{% block content %}
<div class="graph_link_text simple_border">
{% for duration in durations %}
<a class="graph_link" href="{% url MobileData %}?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
{% endfor %}
</div>
{% if entries %}
<p class="small_text">
Date <b>scale weight</b> (trend)
</p>
{% for entry in entries %}
<p class="small_text">
{{ entry.0 }}
<b>{{ entry.1|floatformat:2 }}</b>
({{ entry.2|floatformat:2 }})
</p>
{% endfor %}
{% else %}
<i>No entries</i>
{% endif %}
<div class="graph_link_text simple_border">
{% for duration in durations %}
<a class="graph_link" href="{% url MobileData %}?s={{duration}}">{{ duration }}</a>{% if not forloop.last %} |{% endif %}
{% endfor %}
</div>
{% endblock content %}
