{% if form.errors %}<div class="error">Correct marked entries below and try again.</div><br>{% endif %}
<fieldset>
<table class="medium_text" cellspacing="0" cellpadding="0">
<tr>
{% for field in form %}
<td class="label_text{% if field.errors %} error{% endif %}">
{{ field.label_tag }}{% if field.errors %}*{% endif %}:
{% ifequal field.name "weight" %}<br><a href="{{alternate_form_style.url}}">({{alternate_form_style.name}})</a>{% endifequal %}</div>
</td>
<td style="padding-right: 5px; vertical-align: middle">{{ field }}</td>
{% endfor %}
<td><input type=submit value="Update"></td>
</tr>
</table>
</fieldset>
